<h1>Tweet</h1>
<p><%= @tweet.content %></p><br>

<form method="post" action="/tweets/<%= @tweet.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" id="submit" value="Delete Tweet"><br>
  <p><a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a></p>
</form>
